{{> header}}


<body>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Subject</th>
          <th scope="col">Title</th>
          <th scope="col">Teacher</th>
          <th scope="col"> Description </th>
          {{#authen_teacher}}
          <th>    <a class="btn btn-sm btn-success" href="/add"> Add a course</a> 
          {{/authen_teacher}}

          </th>
        </tr>
      </thead>
      <tbody>
        {{#list}}
        <tr>
          <th scope="row"> ° </th>
          <td>  {{subject}}  </td>
          <td>{{title}}</td>
          <td> {{teacher}} </td>
          <td>  <a class="btn btn-link" href="/read/{{id}}"> More details</a>  </td>
          {{#authen_teacher}}
          <th>     <a class="btn btn-sm btn-warning" href="/edit/{{id}}">Edit</a>
            <a class="btn btn-sm btn-danger" href="/delete/{{id}}">Delete</a>  </th>
          {{/authen_teacher}}



        </tr>
        {{/list}}

      </tbody>
    </table>
    
    
</div>

</body>

</html>