{{> header}}

<body>

    </form> <br> <a href="/favorite_list" class="btn btn-primary mr-2">All favorite courses</a>
  
  
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Subject</th>
            <th scope="col">Title</th>
            <th scope="col">Teacher</th>
            <th scope="col"> Description </th>
          </tr>
        </thead>
        <tbody>
          {{#list}}
          <tr>
            <th scope="row"> {{course_id}} </th>
            <td>  {{course_subject}}  </td>
            <td>{{course_title}}</td>
            <td> {{course_teacher}} </td>
            <td>  <a class="btn btn-link" href="/read/{{course_id}}"> More details</a>  </td>
          </tr>
          {{/list}}
        </tbody>
      </table>
  </div>
  

  