<div  style="background-color: #30373d;">
    <footer style="width: 100%;" style="position: absolute;">
    <div class="row justify-content-center">
      <div class="col-md-5 text-center">
          <p> </p>
        <img src="https://i.pinimg.com/474x/e1/ba/0c/e1ba0cad5c4a3c6907f73b794a821f3a.jpg" class="rounded-circle" width="40" height="40"> <p style="color: white;">StudyPedia Copyright ©</p>
        <strong style="color: white;"> Contact Info </strong>
        <p style="color: white;">  sharbel.sekias@etu.univ-amu.fr <br>  marc.chouraqui@etu.univ-amu.fr  </p>
  
      </div>
    </div>
  </div>
