<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> I love Studying</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/"> Courses </a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        {{#authenticated}}
          <li><a href="/logout" class="btn btn-primary mr-2">Signe out</a></li>
        {{/authenticated}}
      </ul>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            {{^authenticated}}
            <li><a href="/signeInChoice" class="btn btn-primary mr-1">Signe in</a></li>
            <li><a href="/signeUpchoice" class="btn btn-primary mr-2">Signe up</a></li>
            {{/authenticated}}
            
        </ul>
      </div>
    </div>
  </nav>

<main role="main" class="container" style="margin-top: 3rem">
