<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Studypedia </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <a class="navbar-brand"  href="/">
            <img src="https://i.pinimg.com/474x/e1/ba/0c/e1ba0cad5c4a3c6907f73b794a821f3a.jpg" width="35" height="35" class="rounded-circle" class="d-inline-block align-top" alt=""> Studypedia
        </a>
        {{#authenticated}}
        <p> &emsp; &nbsp; &nbsp;</p>
        <span class="navbar-text">
        <img src="  https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Facebook_Home_logo.svg/1200px-Facebook_Home_logo.svg.png" width="30" height="30" class="rounded-circle" alt="">
        </span>
        <a class="nav-link" style="color: white;" href="/principal_page"> Home <span class="sr-only">(current)</span></a> 
        {{#authen_student}}
        <span class="navbar-text">
              <img src="https://i7.pngguru.com/preview/474/499/753/facebook-messenger-like-button-emoji-face.jpg" width="30" height="30" class="rounded-circle" alt="">
            </span>
        <a class="nav-link"  style="color: white;" href="/favorite_list">My favorites</a> 
        {{/authen_student}}
       {{#authen_teacher}}
       <img src="https://www.sheetmetal-iti.org/img/courses.png" width="30" height="30" class="rounded-circle" alt="">
        <a class="nav-link" style="color: white;" href="/my_courses">My Courses</a> {{/authen_teacher}}
        <span class="navbar-text"> <img src="https://www.icone-png.com/png/49/49276.png" width="30" height="30" class="rounded-circle" alt=""> 

              </span>

        <a class="nav-link" style="color: white;" href="/help"> Help </a> {{/authenticated}}
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                {{^authenticated}}
                <a href="/signInChoice" class="btn btn-primary mr-1">Sign in</a>
                <a href="/signUpchoice" class="btn btn-primary mr-2">Sign up</a> {{/authenticated}}

        </div>
        </div>
        {{#authenticated}}

        <img src="https://www.pikpng.com/pngl/b/80-805068_my-profile-icon-blank-profile-picture-circle-clipart.png" width="30" height="30" class="rounded-circle" alt="">

        <a class="nav-link" style="color: white;" href="/my_profile"> My profile  &emsp;</a>

        <form class="form-inline my-2 my-lg-0">
            <a href="/logout" class="btn btn-primary mr-2">Sign out</a>
        </form>
        {{/authenticated}}
    </nav>
    <main role="main" class="container" style="margin-top: 3rem">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

