{{> header}}


<h4 > Most commen questions : </h4>
<div>
<ul class="list-group">
    {{#authen_student}}
    <li class="list-group-item">  <a href="#favorites"> What is the Favorite section and how can i get my favorite list ? </a>  </li>
    <li class="list-group-item"> <a href="#removefavorite"> How can add/remove a course to my favorites ? </a></li>
    <li class="list-group-item"> <a href="#like"> What is the purpose of like and unlike a course ? </a></li>
    {{/authen_student}}
    {{#authen_teacher}}
    <li class="list-group-item"> <a href="#addcourse"> How can add/remove/edit a course  ? </a></li>
    <li class="list-group-item"> <a href="#likers"> Where can i find the list of students who likes my course ? </a></li>
    <li class="list-group-item"> <a href="#teacher"> Can teachers like my courses ? </a></li>

    {{/authen_teacher}}

    <li class="list-group-item">   <a href="#courselist"> What is the course list section and how can i get the courses list? </a></li>
    <li class="list-group-item"> <a href="#myprofile"> How can i access my profile and how can change my name or password ? </a></li>
    <li class="list-group-item"> <a href="#read"> How can i read completly the course ? </a></li>
  </ul>
</div>
<br><br><br><br><br><br><br>

{{#authen_student}}

<div id="favorites">
<h3>What is the Favorite section and how can i get my favorite list ?</h3> 
<p>  the favorite section helps you to access you favorite courses easly, before you can access you favorite course, you need to add them via "Add to course" button, after doing that, you have your course in your favorite !
  <br>  As you can see in the photo below , you have two ways to access you favorites </p>
<img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"  width="750" height="450">
</div>
<br><br><br>

<div id="removefavorite">
    <h3>How can add/remove a course to my favorites ?</h3> 
    <p>  as you can see in the photo, you can add or remove a course from your favorite from this button "Add to favorite" or "Remove from favorite", you will have these buttons when you click on "more description" button </p>
    <img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"  width="750" height="450">
    </div>
<br><br><br>

<div id="like">
<h3> What is the purpose of like and unlike a course ?</h3> 
<p>  the purpose of like and unlike buttons is to let students see if the courses they are reading is good or not, so it will help students find best courses. you can also see the list of students who liked a course </p>
<img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"  width="750" height="450">
</div>
<br><br><br>

{{/authen_student}}

{{#authen_teacher}}

<div id="addcourse">
    <h3>How can add/remove/edit a course  ?</h3> 
    <p> You can easly find the list of students who liked you course when you click on "more description" button and on top right you find the number of students and when click on it we will have your list </p>
    <img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"  width="750" height="450">
    </div>
<br><br><br>

<div id="likers">
    <h3>Where can i find the list of students who likes my course ?</h3> 
    <p> You can easly find the list of students who liked you course when you click on "more description" button and on top right you find the number of students and when click on it we will have your list </p>
    <img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"  width="750" height="450">
    </div>
<br><br><br>



<div id="teacher">
    <h3>Can teachers like my courses ?</h3> 
    <p> You can easly find the list of students who liked you course when you click on "more description" button and on top right you find the number of students and when click on it we will have your list </p>
    <img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"  width="750" height="450">
    </div>
<br><br><br>


    
{{/authen_teacher}}

<div id="courselist">
    <h3>What is the course list section and how can i get the courses list? </h3> 
    <p>  the course list contain all the courses that have been added by best teachers in the world, you can get the courses list by simply clicking on courses list in the home page as in the photo </p>
    <img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"  width="750" height="450">
    </div>
    <br><br><br>


<div id="myprofile">
<h3>How can i access my profile and how can change my name or password ?</h3> 
<p>  you have two ways to access your profile, as you can see in the photo, when you are in your profile your delete your account or change your name or your password if you want to. </p>
<img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"  width="750" height="450">
</div>
<br><br><br>


    

<div id="read">
<h3>How can i read completly the course ? </h3> 
<p>  when you access your courses list or your favorite list, you can see infront every course there is a "more description" , when you click on it you will be able to read all the course. </p>
<img src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"  width="750" height="450">
</div>
<br><br><br>

