{{> header}}


<h4  style="font-style: oblique;"> Most common questions : </h4> <br>
<div>
<ul class="list-group">

    {{#authen_student}}
    <li class="list-group-item">  <a href="#favorites"> What is the Favorite section and how can i get my favorite list ? </a>  </li>
    <li class="list-group-item"> <a href="#removefavorite"> How can add/remove a course to my favorites ? </a></li>
    <li class="list-group-item"> <a href="#like"> What is the purpose of like and unlike a course ? </a></li>
    <li class="list-group-item"> <a href="#read"> How can i read completly the course ? </a></li>

    {{/authen_student}}

    {{#authen_teacher}}
    <li class="list-group-item"> <a href="#addcourse"> How can add/remove/edit a course  ? </a></li>
    <li class="list-group-item"> <a href="#likers"> Where can i find the list of students who likes my course ? </a></li>
    <li class="list-group-item"> <a href="#teacher"> Can teachers like my courses ? </a></li>
    <li class="list-group-item"> <a href="#mycourses"> How can i access my courses ? </a></li>

    {{/authen_teacher}}

    <li class="list-group-item">   <a href="#courselist"> What is the course list section and how can i get the courses list? </a></li>
    <li class="list-group-item"> <a href="#myprofile"> How can i access my profile and how can change my name or password ? </a></li>
    <li class="list-group-item"> <a href="#teacherlist"> What is the list of teachers ? </a></li>
  
</ul>
</div>
<br><br><br><br><br><br><br><br>

{{#authen_student}}
<div id="favorites">
<h3>What is the Favorite section and how can i get my favorite list ?</h3> 
<p>  The favorite section helps you to access you favorite courses easly, before you can access you favorite course, you need to add them via "Add to course" button, after doing that, you have your course in your favorite !
  <br>  As you can see in the photo below , you have two ways to access you favorites : </p>
<img src="https://serving.photos.photobox.com/753097340e091b3f2f54a149a1df270f0c056879fe74d2a3065ff2df270a32036d994d33.jpg"  width="1150" height="550">
</div>
<br><br><br><br><br><br>

<div id="removefavorite">
    <h3>How can add/remove a course to my favorites ?</h3> 
    <p>  As you can see in the photo, you can add or remove a course from your favorite from this button "Add to favorite" or "Remove from favorite", you will have these buttons when you click on "more description" button </p>
    <img src="https://serving.photos.photobox.com/62416754fb03b524a4ab29cc4c339e76e5d8c2a46910b0ebacf13677a048e87f07650fa4.jpg"  width="1150" height="550">
    </div>
<br><br><br><br><br><br>

<div id="like">
<h3> What is the purpose of like and unlike a course ?</h3> 
<p>  The purpose of like and unlike buttons is to let students see if the courses they are reading is good or not, so it will help students find best courses. you can also see the list of students who liked a course </p>
<img src="https://serving.photos.photobox.com/69748936c29ecc01984cd0e3194152a4887374698d59e18940bed28eae807c84be52766d.jpg"  width="1150" height="450">
</div>
<br><br><br><br><br><br>

<div id="read">
    <h3>How can i read completly the course ? </h3> 
    
    <p>  when you access your courses list or your favorite list, you can see infront every course there is a "more description" , when you click on it you will be able to read all the course. </p>
    <img src="https://serving.photos.photobox.com/912832436413992e2548d6b0445fb6447d9b4bf405d679c13a87292bc2fb6c2ad36d7e45.jpg"   width="1150" height="350">
<br><br><br><br><br><br>

{{/authen_student}}

{{#authen_teacher}}

<div id="addcourse">
    <h3>How can i add/remove/edit a course  ?</h3> 
    <p> If you want to add a course, you need to go my courses section, when you are ther you will have three options, one for edit, on for add and finally one for deleting </p>
    <img src="https://serving.photos.photobox.com/0777144975cb0a8665b837f7bd5fa82e5e4daf91de4bccb532f3fd09e9e0acfe4021c3a3.jpg"  width="1150" height="300">
    </div>
<br><br><br><br><br><br>

<div id="likers">
    <h3>Where can i find the list of students who likes my course ?</h3> 
    <p> You can easly find the list of students who liked you course when you click on "more description" button and on top right you find the number of students and when click on it we will have your list </p>
    <img src="https://serving.photos.photobox.com/69748936c29ecc01984cd0e3194152a4887374698d59e18940bed28eae807c84be52766d.jpg"  width="1150" height="450">
    </div>
<br><br><br><br><br><br>

<div id="teacher">
    <h3>Can teachers like my courses ?</h3> 
    <p> Unfortunately NO ! this feature is only available for students, this means that teachers don't have access to the like button, in the photo below, the list of courses will be shown like this for a teacher user. </p>
    <img src="https://serving.photos.photobox.com/1438503364d6875ff132e552d2800548eff9193862f9b1c7791c816521620afd179c30c5.jpg"  width="1150" height="400">
    </div>
<br><br><br><br><br><br>

<div id="mycourses">
    <h3>How can i access my courses ?</h3> 
    <p> As you can see in the photo you have two ways to access your courses<br> once your in, you can easly add, modify and delete your courses. </p>
    <img src="https://serving.photos.photobox.com/50662529e02edb50e77a25f8fb99b5270b6ce590cef5990ed55820c021358324e6b0a8e2.jpg"  width="1150" height="400">
    </div>
<br><br><br><br><br><br>


    
{{/authen_teacher}}

<div id="courselist">
    <h3>What is the course list section and how can i get the courses list? </h3> 
    <p>  the course list contain all the courses that have been added by best teachers in the world, you can get the courses list by simply clicking on courses list in the home page as in the photo </p>
    {{#authen_teacher}}
    <img src="https://serving.photos.photobox.com/06681789333fc322601a827ff167c882538f8d57786d3341edd989252087bf0b601a17ad.jpg" width="1200" height="450">
    {{/authen_teacher}}
    {{#authen_student}}

    <img src="https://serving.photos.photobox.com/3481790593704755ec4fb7ae944c605de9a3556cb0a5d4dffa651d6403edfa4ea71feb29.jpg" width="1200" height="450">
    {{/authen_student}}
</div>
    <br><br><br><br><br><br>


<div id="myprofile">
<h3>How can i access my profile and how can change my name or password ?</h3> 
<p>  you have two ways to access your profile, as you can see in the photo, when you are in your profile your delete your account or change your name or your password if you want to. </p>
{{#authen_student}}
<img src="https://serving.photos.photobox.com/55970747874cd81e421d9e6814195f35b974db8163d8efae5491d4846ad0fcbbea343e4b.jpg"  width="1150" height="550">
{{/authen_student}}

{{#authen_teacher}}
<img src="https://serving.photos.photobox.com/1952232585950c2b89d260ecd60d641e9bbfe3a5492581ee9b9be524c56149bc87bb2871.jpg"  width="1150" height="550">
{{/authen_teacher}}
<img src="https://serving.photos.photobox.com/726563768eaa7dededcbd495bd1411a3830489ce2adc5eba6888ad1dfa219f2f2bbb5f39.jpg" width="1150" height="350" >
</div>
<br><br><br><br><br><br>

<div id="teacherlist">
    <h3>What is the list of teachers ? </h3> 
    <p>  The list of teachers is a place where you can find all the teachers that have an account in our website. <br> It helps you to find easly your teacher, when you chose one from the list, you will have all his courses that he added. </p>
    </div>
    <br><br>

<br><br>

    {{> footer}}
    