{{> header}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="jumbotron">
    <h1 class="display-4"> Studying ... Its more simple with US </h1>
    <img class="img-fluid" src="https://learnenglish.britishcouncil.org.cn/sites/podcasts/files/styles/article/public/RS8101_GettyImages-658984533-hig.jpg?itok=mSIdX6VW
    ">
    <br>
    <p class="lead">This is an open source website that contains courses created and edited by volunteers teachers around the world..</p>
    <hr class="my-4">
    <p> Our Priorities is to share access with all students arround the Wolrd for FREE </p>
  </div> <br><br><br><br>


{{> footer}}
