{{> header}}

<div class="jumbotron">
    <h1 class="display-4"> Studying ... Its more simple with US </h1>
    <img class="img-fluid" src="https://learnenglish.britishcouncil.org.cn/sites/podcasts/files/styles/article/public/RS8101_GettyImages-658984533-hig.jpg?itok=mSIdX6VW
    ">
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
