{{> header}}





  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Edit my profile</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
         
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Edit my profile</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/change_name">Change my name</a>
            <a class="dropdown-item" href="/change_password">Change my password</a>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Delete my account</h5>
          <p class="card-text">You can change your name and your password</p>
          <a href="/delete_account" class="btn btn-danger">Delete my account </a>
        </div>
      </div>
    </div>
  </div>
  