{{> header}}






{{#authen_student}}

{{/authen_student}}


<div class="row no-gutters">

  <div class="col-sm-6 col-md-8">  <a class="btn btn-sm btn-success" href="/favorite/{{id}}" onclick="alertFunction()"> Add to favorite </a> 
    <a class="btn btn-sm btn-danger" href="/remove_favorite/{{id}}" onclick="alertFunction2()"> remove from favorite </a> 
      </div>
  <div class="col-6 col-md-4"> <p>  {{likers}} <a href="/likers/{{id}}"> Student/s</a> liked this course </p> 
  </div>
</div>
<br>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
     </div>
     <span class="border border-primary">
      <div class="col-md-auto">
        <h1>{{title}}</h1>
      </div>
     </span>
    <div class="col col-lg-2">
     </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm-6 col-md-8">
      <h6>writen by : {{teacher}}</h6>
      <h6>Subject : {{subject}}</h6>
    </div>
</div>
</div>
<br><br>

  <div>
        <p>{{description}}</p>
      </div>

  <script>
    function alertFunction() {
      alert("The Course has been added successfully to your favorites");
    }
    function alertFunction2(){
      alert("The Course has been removed successfully from your favorites");
    }
    </script>
  