{{> header}}

<p style="text-align:center;">   
    <img src="https://www.campusfrance.org/sites/default/files/parrainage.jpg" width="350" height="275" >

</p>
<a class="btn btn-primary btn-lg btn-block" href="/" role="button"> Signe up as Student </a> <br><br>




<p style="text-align:center;">      <img src="https://www.scholastic.com/content/dam/parents/FeatureImages/Articles/5-things-your-childs-math-teachers-wishes-you-know.jpg" width="350" height="275" aligne="middle" >
</p>


<a class="btn btn-secondary btn-lg btn-block" href="/" role="button"> Signe up as Teacher </a> <br><br>