{{> header}}


<h2 style="font-style: oblique;"> Number of courses : <span class="badge badge-primary badge-pill"> {{number_of_courses_per_teacher.nb}}</span>
    </h2><br>



  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Subject</th>
        <th scope="col">Title</th>
        <th scope="col">Teacher</th>
        <th scope="col"> Description </th>
        </th>
      </tr>
    </thead>

    <tbody>
        {{#list}}

        <tr>
          <th scope="row"> {{id}} </th>
          <td>  {{subject}}  </td>
          <td>{{title}}</td>
          <td> {{teacher}} </td>
          <td>  <a class="btn btn-link" href="/read/{{id}}"> More details</a>  </td>

        </tr>
        {{/list}}
      </tbody>
    </table>
